.cardList {
  width: 328px;
  border: 1px solid #666;
  border-top: 2px solid #000;
}

/* .cardList__top {
  
}
.cardList__top > .searchArea {
  
}
.cardList__top > .optionsArea {

}

.cardList__body {

} */